*{
	margin: 0;
	padding: 0;
}

body{
	padding: 0 10px;
}

.main {
	font-family: sans-serif;
	width: 100%;
	--display: flex;
	--flex-direction: row;
	display: grid;
	grid-template-columns: 60% 40%; 
}

.main .right form {
	display: flex;
	flex-direction: column;
	--justify-content: center;
	--align-content: center;
	--align-items: center;
	--line-height: 1.5;
}

.main .right .head-form {
	display: flex;
	flex-direction: column;
	padding: 0 10px 10px 10px;
	--padding-top: 10px; 
	--background-color: red;
	--text-align: center;
	--align-items: center;
	line-height: 1;
	box-shadow: 10px 10px 10px #ddd;
	transition: all 0.3s;
}

select {
	display: block;
	border: none;
	border-bottom: 1px solid #ddd;
	background-color: white;
	width: 90%;
	outline: none;
}

select:focus {
 	--display: none;
	--background-color: red;
	width: 80%;		
}

.main .right .head-form input, .main .right .head-form select{
	margin: 0 auto;
	color:#555;
}

.main .right input {
	--display: flex;
	color:#555;
	--margin: 0 auto;
	width: 90%;
	--align-items: center;
	border: none;
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.main .right .head-form:hover {
	box-shadow: 10px 10px 20px #ddd;
	transform: translateY(3px);
}

.main .right .editor {
	padding: 0 10px 10px 10px;
	box-shadow: 10px 10px 10px #ddd;
	transition: all 0.3s;
}

.main .right .editor:hover {
	box-shadow: 10px 10px 20px #ddd;
	transform: translateY(3px);
}

.main .right input:focus {
	outline: none;
}

.main .right label {
	--text-align: left;	
	margin: 0 5%;
	font-style: italic;
	padding: 10px 0px;
}

.main .left {
	margin-left: 10%; 
}






